@keyframes fly {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(50vw);
  }
}

.airplane {
  width: 100px;
  height: 100px;
  background: url('/bus1.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: -100px;
  animation: fly 5s linear infinite;
}
