.techFav_cards{
    display: flex;
    justify-content: center;
}

.techFav_cards li{
    display: inline-block;
    width: 16%;
    margin: 2.5% 1.5%;
    box-sizing: border-box;
    border: 2px solid rgb(4, 4, 56);
    border-radius: 10px;
    padding: 4px;
}

.techFav_cards li:hover {
    border: none;
    cursor: pointer;
    background-color: #f3f4f6;
    padding: 0%;
    transition: 1s all;
    transform: scale(1.1);
}

.techFav_cards li:hover h2{
    font-size: 33px;
}

.techFav_cards h2{
    font-size: 30px;
    text-align: center;
    color: #f3f4f6;
}

.iconContainer{
    background-color: rgb(23 37 84);
}