@tailwind base;
@tailwind components;
@tailwind utilities;





/* Sombra ligera */
.text-shadow-light {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Sombra semiligera */
.text-shadow-semilight {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}

/* Sombra mediana */
.text-shadow-medium {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
}

/* Sombra semioscura */
.text-shadow-semidark {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/* Sombra oscura */
.text-shadow-dark {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}

/* Carrusel animado de marcas de agencias */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: calc(200px * 10); /* Ajusta esto según el número de tarjetas */
  animation: marquee 20s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}


/* -------------------------------------------------- */


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Redondea la pista del scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Redondea el thumb del scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: #f1f1f1;
    border-radius: 10px; /* Redondea las esquinas del scrollbar */
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f128; /* Color del thumb y del scrollbar */
  }
}


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* animation skeleton */
/* @keyframes pulse {
  100% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  0% {
    background-color: #e0e0e0;
  }
}

.skeleton {
  animation: pulse 1.3s infinite linear;
} */
