@keyframes fly {
  0% {
    transform: translateX(-100px) translateY(0);
  }
  50% {
    transform: translateX(50vw) translateY(-30px);
  }
  100% {
    transform: translateX(100vw) translateY(0);
  }
}

.airplane {
  width: 50px;
  height: 50px;
  background: url('/avion404.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: -100px;
  animation: fly 5s linear infinite;
}
